/Homework5/dist/
/HW10/nbproject/private/
/HW10/build/
/ConnectingToMysql/nbproject/private/
/ConnectingToMysql/build/
/MyFirstWebApp/nbproject/private/
/MyFirstWebApp/build/
/WebAppWith Tomcat/nbproject/private/
/WebAppWith Tomcat/build/
/UploadFilesDemo/nbproject/private/
/UploadFilesDemo/build/
/JspApp/nbproject/private/
/JspApp/build/
/CookiesProject/nbproject/private/
/CookiesProject/build/
/ServerProject/nbproject/private/
/ServerProject/build/
/AssignmentOne/nbproject/private/
/AssignmentOne/build/
/FirstTestCase/nbproject/private/
/CRUDAPP/build/
/JSTLProject/nbproject/private/
/JSTLProject/build/
/CrudAppWithJavaScript/nbproject/private/
/CrudAppWithJavaScript/build/
/AssignmentTwo/nbproject/private/
/AssignmentTwo/build/
/AssignmentThree/nbproject/private/
/AssignmentThree/build/
/JavaProject/nbproject/private/
/JavaProject/build/
