/Homework5/dist/
/HW10/nbproject/private/
/HW10/build/
/ConnectingToMysql/nbproject/private/
/ConnectingToMysql/build/
/MyFirstWebApp/nbproject/private/
/MyFirstWebApp/build/
/WebAppWith Tomcat/nbproject/private/
/WebAppWith Tomcat/build/
